doctype html
html
  head
    include common/header
    title SMS | SVM Bettiah
    
  body.four-zero-content
    .four-zero
      h2 Oops
      small Not Found
            
      footer
         a(href="/")
          i.md.md-arrow-back.
         a(href="/admin/")
          i.md.md-home

    include common/footer
