extends common/layout

block content
  section#main
    section#content
      .container
        form(action='/library')
          button.btn.btn-primray(type='submit') LIBRARY
        form(action='/student')
          button.btn.btn-primray(type='submit') STUDENT
      .block-header
        .card
        .mini-charts
          .row
<<<<<<< HEAD
            a(href='/'+'?student')
=======
            a(href='/?student')
>>>>>>> aroop
              .col-sm-6.col-md-3
                .mini-charts-item.bgm-cyan
                  .clearfix
                    .chart.stats-bar
                      i.md.md-account-child.chart-icon
                    .count
                      small STUDENT MANAGEMENT
                      h2.custom-header-padding Login
            a(href='/?teacher')
              .col-sm-6.col-md-3
                .mini-charts-item.bgm-lightgreen
                  .clearfix
                    .chart.stats-bar-2
                      i.md.md-perm-identity.chart-icon
                    .count
                      small TAECHERS
                      h2.custom-header-padding 35
            a(href='/?library')
              .col-sm-6.col-md-3
                .mini-charts-item.bgm-orange
                  .clearfix
                    .chart.stats-line
                      i.md.md-my-library-books.chart-icon
                    .count
                      small LIBRARY
                      h2.custom-header-padding 8,778 Books
            a(href='/?transport')
              .col-sm-6.col-md-3
                .mini-charts-item.bgm-bluegray
                  .clearfix
                    .chart.stats-line
                      i.md.md-directions-bus.chart-icon
                    .count
                      small TRANSPORT
                      h2.custom-header-padding 15 Buses


