doctype html
html
  head
    include header
    block head
    title= title
    link(rel='stylesheet', href='module/stylesheets/main.css')
  body
    include navbar
    block content
    include footer
    block foot
