script(src="/theme/js/jquery-2.1.1.min.js")
script(src="/theme/js/bootstrap.min.js") 
script(src="/theme/vendors/waves/waves.min.js")
//script(src="/theme/js/functions.js")
script(src="/module/js/library/jquery.i18n.properties.js")
script(src="/module/js/AjaxUtils.js")
script(src="/module/js/rabscommon.js")