meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv='Cache-Control', content='no-store, no-cache, must-revalidate')
meta(http-equiv='Pragma', content='no-cache')
meta(http-equiv='Expires', content='-1')
// Vendor CSS 
link(href="/theme/vendors/animate-css/animate.min.css" rel="stylesheet")
link(href="/theme/vendors/sweet-alert/sweet-alert.min.css" rel="stylesheet")
link(href="/theme/vendors/material-icons/material-design-iconic-font.min.css" rel="stylesheet")
link(href="/theme/vendors/socicon/socicon.min.css" rel="stylesheet")
    
// CSS 
link(href="/theme/css/app.min.1.css" rel="stylesheet")
link(href="/theme/css/app.min.2.css" rel="stylesheet")
